In [4]:
# Declare an empty list named `our_list`.
our_list = []

In [5]:
# Use the `append` list function to append the number 1 into `our_list`.
our_list.append(1)

# Append the string "hello" into `our_list`.
our_list.append("hello" )

# Append the boolean False into `our_list`.
our_list.append(False)

# Append the number 84 into `our_list`.
our_list.append(84)

# Append the string "world" into `our_list`
our_list.append("world")

# Print `our_list`
for item in our_list:
    print(item)

1
hello
False
84
world

In [9]:
# Declare a variable named `one_to_ten` and assign it a list containing the numbers from 1 to 10.
one_to_ten = []

for item in range(1,11):
    one_to_ten.append(item)

print(one_to_ten)

# Print the 4th element from `one_to_ten`.
print(one_to_ten[3])

# Print the 7th element from `one_to_ten`.
print(one_to_ten[6])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4
7

In [16]:
# We've declared this list for you
num_list = [2, 65, 3, 7, 39, 22, 11, 94, 299, 9, 20, 21, 51, 37]

# Iterate through the provided `num_list` and create an if-else statement to print every number greater than 50
for num in num_list:
    if num > 50:
        print(num)

# Iterate through the provided `num_list` and use the `index` function to print the index of the first occurrence of the number 11.
for num in num_list:
    if num == 11:
        print(num_list.index(11))

# Iterate through the provided `num_list` and print the sum of all the numbers.
total = 0
for num in num_list:
    total += num
print(total)

# Iterate through the provided `num_list` and create an if-else statement to print the sum of all the numbers greater than 50.
total = 0
for num in num_list:
    if num > 50:
        total += num
print(total)

# Iterate through the provided `num_list` and create an if-else statement to print the sum of all the even numbers.
total = 0
for num in num_list:
    if num%2 == 0:
        total += num
print(total)

65
94
299
51
6
680
509
138

In [20]:
# We've declared this list for you
fruits = [
  "Apple", "Orange", "Banana", "Pomelo", "Apple", "Kiwi", "Peach", "Banana", "Grape", "Tomato",
  "Kiwi", "Apple", "Watermelon", "Lemon", "Pomelo", "Apple", "Banana", "Peach", "Apricot", "Grape"]

# Iterate through the provided `fruits` list and print the number of times "Apple" appears in the list.
total = 0
for fruit in fruits:
    if fruit == "Apple":
        total += 1
print(total)

# Iterate through the provided `fruits` list and print the number of times "Peach" appears in the list.
total = 0
for fruit in fruits:
    if fruit == "Peach":
        total += 1
print(total)

# Iterate through the provided `fruits` list and print the number of fruits that start with "P" in the list.
total = 0
for fruit in fruits:
    if fruit[0] == "P":
        total += 1
print(total)

4
2
4

In [25]:
## Challenge
# Create a new empty list named `unique_fruits`.
unique_fruits = []

# Iterate through `fruits` and populate `unique_fruits` with only unique values from `fruits`. 

for fruit in fruits:
    total = 0
    for unique_fruit in unique_fruits:
        if fruit == unique_fruit:
            total += 1
    if total == 0:
        unique_fruits.append(fruit)

# Print out the `unique_fruits` list.
for unique_fruit in unique_fruits:
    print(unique_fruit)

print("----")    
    
#Hint: try looking up "not in" conditionals for if statements
for fruit in fruits:
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)

# Print out the `unique_fruits` list.
for unique_fruit in unique_fruits:
    print(unique_fruit)

Apple
Orange
Banana
Pomelo
Kiwi
Peach
Grape
Tomato
Watermelon
Lemon
Apricot
----
Apple
Orange
Banana
Pomelo
Kiwi
Peach
Grape
Tomato
Watermelon
Lemon
Apricot

In [28]:
# In this challenge we're going to be working with nested lists.
# You can store any type of data within an list- even other lists!
two_dim_list = [
  [54, 6, 7, 46, 78],
  [43, 9, 6, 65, 65],
  [32, 1, 44, 1, 23],
  [55, 12, 2, 34, 2],
  [2, 12, 44, 2, 12]]

# Iterate through the first list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[0]:
    if num < 25:
        print(num)
print("----")   

# Iterate through the second list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[1]:
    if num < 25:
        print(num)
print("----")   

# Iterate through the fifth list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[4]:
    if num < 25:
        print(num)
print("----")   

# Iterate through `two_dim_list` and the lists inside of it and print all the odd numbers.
for num_list in two_dim_list:
    for num in num_list:
        if num%2 == 1:
            print(num)
print("----")   

# Iterate through `two_dim_list` and the lists inside of it and print the sum of all the numbers that are a multiple of 3.
for num_list in two_dim_list:
    for num in num_list:
        if num%3 == 0:
            print(num)

6
7
----
9
6
----
2
12
2
12
----
7
43
9
65
65
1
1
23
55
----
54
6
78
9
6
12
12
12